

@font-face {
    font-family: lakeshore;
    font-weight: normal;
    font-style: normal;
    src: url("fonts/LAKESHOR-webfont.eot");
    src: url("fonts/LAKESHOR-webfont.eot?#iefix") format("embedded-opentype"),
         url("fonts/LAKESHOR-webfont.woff") format("woff"),
         url("fonts/LAKESHOR-webfont.ttf") format("truetype"),
         url("fonts/LAKESHOR-webfont.svg#lakeshore") format("svg");
}

@keyframes fadein {
    0% {
        margin-left: -20px;
        opacity: 0%;
    } 90% {
        margin-left: 20px;
        opacity: 100%
    }
}



@font-face {
    font-family: typo;
    font-weight: normal;
    font-style: normal;

    src: url("fonts/Typo.ttf") format("truetype");

}

.invisible {
    display: none;
}

html {
    background: #417dff;
}

html, body {
    height: 100%;
}

body {
    background: linear-gradient(to top, #417dff 0.5%, #003f6a 100%) no-repeat;

}


.titlebar {
    background: white;
    box-shadow: 2px 2px 5px rgb(0, 0, 49);
    text-align: center;
    font-family: typo;
    font-size: 20px;
}



.sidebar {
    display: flex;
    padding: 20px;
    margin-left: 10px;
    flex: 0 1 auto;
    list-style: none;
    flex-direction: column;
    width: fit-content;
    height: fit-content;
    order: 1;
    float: left;
    font-family: typo;


    background-color: rgba(255, 255, 255, 0.2);
    border-right: 1px solid rgba(0, 0, 0, 0.4); 
    border-bottom: 1px solid rgba(0, 0, 0, 0.4);
    border-left: 1px solid rgba(255, 255, 255, 0.4); 
    border-top: 1px solid rgba(255, 255, 255, 0.4);
    text-shadow: 5px 9px 2px rgba(0, 0, 0, 0.1), -8px -4px 4px rgba(0, 0, 0, 0.1);
    box-shadow: 5px 9px 4px rgba(0, 0, 0, 0.4), -8px -4px 6px rgba(0, 0, 0, 0.2);



}


.fleximage {
    display: inline-block;

}

.sidebarlink {
    color: white;
    text-decoration: none;
}

.maincontent {
    display: flex;
    flex: 1 1 auto;
    margin-left: 20px;
    height: 90%;
    justify-content: space-around;


}

.article {
    display: flex;
    flex: 1 1 auto;
    margin-left: 20px;
    flex-direction: column;
    height: 90%;


}

.articleanimation {
    animation-name: fadein;
    animation-duration: 0.2s;
    animation-timing-function: cubic-bezier(0.39, 0.67, 0.53, 0.98);
}

.articletitle {
    height: fit-content;
    color: white;
    font-family: typo;
    font-size: 40px;
    margin-left: 20px;
    text-shadow: 5px 9px 2px rgba(0, 0, 0, 0.4), -8px -4px 4px rgba(0, 0, 0, 0.2), -1px -1px 0px rgb(0, 0, 0);

}

.articletext {
    color: white;
    flex-direction: column;
    width: 75%;
    font-size: 20px;
    text-shadow: 5px 9px 2px rgba(0, 0, 0, 0.2), -8px -4px 4px rgba(0, 0, 0, 0.2);

}

.donation {
    color: white;
    flex-direction: column;
    overflow-x: auto;
    font-size: 20px;
    text-shadow: 5px 9px 2px rgba(0, 0, 0, 0.2), -8px -4px 4px rgba(0, 0, 0, 0.2);

}

.extratext {
    color: white;
    flex-direction: column;
    overflow-x: auto;
    font-size: 18px;
    text-shadow: 5px 9px 2px rgba(0, 0, 0, 0.2), -8px -4px 4px rgba(0, 0, 0, 0.2);

}

.rickroll {
    display: none;
}

.articleimages {
    flex-direction: row;
    width: 90%;
    margin-top: 10px;
}

.image1 {
    width: 30%;
    border-right: 2px solid rgba(0, 0, 0, 0.9); 
    border-bottom: 2px solid rgba(0, 0, 0, 0.9);
    border-left: 2px solid rgba(255, 255, 255, 0.9); 
    border-top: 2px solid rgba(255, 255, 255, 0.9);
    box-shadow: 5px 9px 4px rgba(0, 0, 0, 0.4), -8px -4px 6px rgba(0, 0, 0, 0.2);
}

.image2 {
    width: 30%;
    margin-left: 10px;
    border-right: 2px solid rgba(0, 0, 0, 0.9); 
    border-bottom: 2px solid rgba(0, 0, 0, 0.9);
    border-left: 2px solid rgba(255, 255, 255, 0.9); 
    border-top: 2px solid rgba(255, 255, 255, 0.9);
    box-shadow: 5px 9px 4px rgba(0, 0, 0, 0.4), -8px -4px 6px rgba(0, 0, 0, 0.2);
}

@media all and (max-width: 550px) {
    .sidebar {
        flex-direction: row;
        float:none;
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .fleximage {
        padding-left: 15px;
    }

    .articletitle {
    margin-left: 0px;
    }
    
    .articleimages {
        flex-direction: column;
        width: 90%;
    }
    
    .image1 {
        width: 90%;
    }
    
    .image2 {
        width: 90%;
        margin-left: 0px;
        margin-top: 10px;

    }

}