@font-face {
    font-family: lakeshore;
    font-weight: normal;
    font-style: normal;
    src: url("fonts/LAKESHOR-webfont.eot");
    src: url("fonts/LAKESHOR-webfont.eot?#iefix") format("embedded-opentype"),
         url("fonts/LAKESHOR-webfont.woff") format("woff"),
         url("fonts/LAKESHOR-webfont.ttf") format("truetype"),
         url("fonts/LAKESHOR-webfont.svg#lakeshore") format("svg");
}


@font-face {
    font-family: typo;
    font-weight: normal;
    font-style: normal;

    src: url("fonts/Typo.ttf") format("truetype");

}

html, body {
    height: 100%;
}

body {
    background: linear-gradient(to top,  #000 0%, #417dff 0.5%, #b0dfff 100%) no-repeat;
    background-size: 100%;
}

.titlebar {
    background: white;
    box-shadow: 2px 2px 5px rgb(153, 153, 255);
    text-align: center;
    font-family: typo;
}



.sidebar {
    display: flex;
    flex: 0 1 auto;
    list-style: none;
    overflow-y:scroll;
    flex-direction: column;
    width: fit-content;
    height: 75%;
    order: 1;
    float: left;

}

.fleximage {
    display: inline-block;


}

.maincontent {
    display: flex;
    flex: 1 1 auto;
    margin-left: 20px;
    height: 90%;
    justify-content: space-around;


}

.articletitle {
    left: 100px;
    font-family: typo;
    font-size: 25px;
    margin-left: 20px;
    text-shadow: 5px 9px 2px rgba(0, 0, 0, 0.2);

}
